@model WebAppPratelivros.Models.Leitor

@{
    ViewBag.Title = "Cadastro";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="@Url.Content("~/Content/principal.css")" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,900&display=swap">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex justify-center items-center h-screen">
    <div class="cadastro-box bg-color1">
        <header class="flex justify-center m-4">
            <h1 class="flex justify-center">
                <a href="@Url.Action("Index", "Home")"><img src="~/Content/imagens/logo.png" width="150" /></a>
            </h1>
        </header>
        <main class="flex flex-col items-left mx-4">
            @using (Html.BeginForm("Cadastro", "Leitor", FormMethod.Post, new { @class = "flex flex-col items-center" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "w-4/5 mb-3 border-none", @placeholder = "Nome", @type = "text" } })
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "w-4/5 mb-3 border-none", @placeholder = "Username", @type = "text" } })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "w-4/5 mb-3 border-none", @placeholder = "E-mail", @type = "text" } })
                @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "w-4/5 mb-3 border-none", @placeholder = "Senha", @type = "password" } })
                <div class="flex justify-between w-4/5 mt-2">
                    @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "m-0 border-none cadastroInput", @placeholder = "Celular (opcional)", @type = "tel" } })
                    @Html.EditorFor(model => model.Idade, new { htmlAttributes = new { @class = "m-0 cadastroInput border-none", @placeholder = "Data de nascimento", @type = "text", @onfocus = "this.type='date'", @onblur = "this.type='text'" } })
                </div>
                <div class="flex items-center mt-6">
                    <label class="radio mx-2 font-bold flex justify-center items-center">
                        @Html.RadioButtonFor(model => model.Genero, "M")
                        <span>Masculino</span>
                    </label>
                    <label class="radio mx-2 font-bold flex justify-center items-center">
                        @Html.RadioButtonFor(model => model.Genero, "F")
                        <span>Feminino</span>
                    </label>
                    <label class="radio mx-2 font-bold flex justify-center items-center">
                        @Html.RadioButtonFor(model => model.Genero, "O")
                        <span>Outro</span>
                    </label>
                </div>
                <input class="hover:cursor-pointer" type="submit" value="Continuar" />
            }
            @section ScriptPage {
                <script src="~/Scripts/jquery.validate.min.js">
                </script>
                <script src="~/Scripts/jquery.validate.unobtrusive.min.js">
                </script>
            }
        </main>
        <footer>
            <small class="font-bold">© pratelivros</small>
            <ul>
                <li>
                    <a href=""><img src="~/Content/imagens/icons/instagram.png" /></a>
                </li>
                <li>
                    <a href=""><img src="~/Content/imagens/icons/twitter.png" /></a>
                </li>
                <li>
                    <a href=""><img src="~/Content/imagens/icons/whatsapp.png" /></a>
                </li>
            </ul>
        </footer>
    </div>
</body>
</html>