@model WebAppPratelivros.Models.Leitor

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var msg = TempData["Mensagem"] as string;
}

<main>
    <section class="bg-none">
        <h2>Recomendações</h2>
        <div class="flex justify-between w-9/12">
        @foreach (var item in Model.livro)
        {
            <div class="text-center flex flex-col items-center cursor pointer">
                @if (item.Pic != null)
                {
                    var base64 = Convert.ToBase64String(item.Pic);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                    <img src="@imgSrc" width="180" height="220" />
                }
                <p class="text-xl font-bold mt-4">@item.Titulo</p>
            </div>
        }
        </div>

        <h2>Últimas adições</h2>
        <div class="flex justify-between w-9/12 mb-16">
            @foreach (var item in Model.livro)
            {
                <div class="text-center flex flex-col items-center cursor pointer">
                    @if (item.Pic != null)
                    {
                        var base64 = Convert.ToBase64String(item.Pic);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                        <img src="@imgSrc" width="180" height="220" />
                    }
                    <p class="text-xl font-bold mt-4">@item.Titulo</p>
                </div>
            }
        </div>
    </section>
    <section class="bg-color1">
        <h2>Perguntas frequentes</h2>
        <!-- Accordion -->
        <div class="flex justify-center w-8/12">
            <!-- Accordion 1 -->
            <div class="m-2">
                <label for="state">
                    <div class="button flex justify-between items-center font-bold text-xl">
                        O que é o pratelivros?
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0L5 6L0 0L10 0Z" fill="#401B1B" />
                        </svg>
                    </div>
                </label>
                <input type="checkbox" id="state" hidden>
                <div class="content">
                    <div class="inner font-bold">
                        O pratelivros é uma plataforma de troca de livros fundada em 2023, perfeita para quem tem livros velhos que quer trocar por novas experiências literárias!
                    </div>
                </div>
                <label for="state2">
                    <div class="button flex justify-between items-center font-bold text-xl mt-8">
                        Como posso cadastrar meu exemplar?
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0L5 6L0 0L10 0Z" fill="#401B1B" />
                        </svg>
                    </div>
                </label>
                <input type="checkbox" id="state2" hidden>
                <div class="content2">
                    <div class="inner font-bold">
                        A nossa plataforma usa como base o banco de dados da Amazon que possui mais de 50 milhões de títulos. Para cadastrar seu exemplar é preciso que você selecione o livro e informe o estado de integridade com três fotos.
                    </div>
                </div>
                <label for="state3">
                    <div class="button flex justify-between items-center font-bold text-xl mt-8">
                        Como funcionam as prateleiras?
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0L5 6L0 0L10 0Z" fill="#401B1B" />
                        </svg>
                    </div>
                </label>
                <input type="checkbox" id="state3" hidden>
                <div class="content3">
                    <div class="inner font-bold">
                        Seu perfil já vêm com duas prateleiras: Uma para listar seus livros e outra para os que você quer obter. Para criar uma nova basta acessar o menu "mais" no cabeçalho do site.
                    </div>
                </div>
                <label for="state4">
                    <div class="button flex justify-between items-center font-bold text-xl mt-8">
                        E se o meu livro não estiver cadastrado?
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0L5 6L0 0L10 0Z" fill="#401B1B" />
                        </svg>
                    </div>
                </label>
                <input type="checkbox" id="state4" hidden>
                <div class="content4">
                    <div class="inner font-bold">
                        Caso você não encontre seu livro na pesquisa, haverá um formulário que você pode cadastrar, contendo as informações: capa, título, autor, descrição, idioma, data de publicação, ISBN, editora, edição, n° de páginas e gênero.
                    </div>
                </div>
            </div>
            <!-- Accordion 2 -->
            <div class="m-2">
                <label for="state5">
                    <div class="button flex justify-between items-center font-bold text-xl">
                        Como solicito uma troca?
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0L5 6L0 0L10 0Z" fill="#401B1B" />
                        </svg>
                    </div>
                </label>
                <input type="checkbox" id="state5" hidden>
                <div class="content5">
                    <div class="inner font-bold">
                        Ao ver o exemplar de outro usuário, haverá um botão com ícone de troca que você pode apertar para criar sua solicitação de troca. Na página seguinte, você poderá selecionar outros livros que você quer do outro usuário e também os seus livros que você deseja se desfazer.
                    </div>
                </div>
                <label for="state6">
                    <div class="button flex justify-between items-center font-bold text-xl mt-8">
                        Como finalizo uma troca?
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0L5 6L0 0L10 0Z" fill="#401B1B" />
                        </svg>
                    </div>
                </label>
                <input type="checkbox" id="state6" hidden>
                <div class="content6">
                    <div class="inner font-bold">
                        Após a confirmação de uma proposta por ambos os usuários, eles podem combinar um ponto de encontro pelo chat para efetivamente trocar os exemplares e depois disso também existe a opção de avaliar a troca.
                    </div>
                </div>
                <label for="state7">
                    <div class="button flex justify-between items-center font-bold text-xl mt-8">
                        Exemplares e livros são diferentes?
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0L5 6L0 0L10 0Z" fill="#401B1B" />
                        </svg>
                    </div>
                </label>
                <input type="checkbox" id="state7" hidden>
                <div class="content7">
                    <div class="inner font-bold">
                        No nosso sistema, diferenciamos a entidade livro, que é um título cadastrado no banco de dados e a entidade exemplar, que é referente a versão do livro possuída por tal usuário. São os exemplares que contém as informações sobre a integridade daquela versão, se ela está em bom ou mau estado.
                    </div>
                </div>
                <label for="state8">
                    <div class="button flex justify-between items-center font-bold text-xl mt-8">
                        Posso trocar até quantos exemplares?
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0L5 6L0 0L10 0Z" fill="#401B1B" />
                        </svg>
                    </div>
                </label>
                <input type="checkbox" id="state8" hidden>
                <div class="content8">
                    <div class="inner font-bold">
                        O máximo que uma permutação pode atingir é de cinco exemplares por cinco exemplares. Não é necessário que ambos os lados queiram trocar a mesma quantidade, então pode haver uma troca de um exemplar por cinco exemplares, e vice-versa.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        @if (!string.IsNullOrEmpty(msg))
        {
            <div class="email enviado">
                <p>@msg</p>
            </div>
        }
        <h2>Envie sua mensagem</h2>
        @using (Html.BeginForm("Index", "Leitor", FormMethod.Post, new { @class = "flex text-center items-center", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @placeholder = "Insira o seu nome...", @type = "text" } })
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @placeholder = "Insira o seu email...", @type = "text" } })
            @Html.DropDownListFor(model => model.Tipo, new SelectList(Enum.GetValues(typeof(WebAppPratelivros.Models.Denuncia))), "Tipo da mensagem", new { @class = "p-2 m-2" })
            @Html.TextAreaFor(model => model.Mensagem, new { @placeholder = "Insira a sua mensagem...", @class = "p-2 m-2" })
            <input class="hover:cursor-pointer" type="submit" value="Enviar" />
        }
    </section>
</main>