@model WebAppPratelivros.Models.Leitor

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var msg = TempData["Mensagem"] as string;
}

<main>
    <section class="bg-none">
        <h2>Recomendações</h2>
        <div class="flex justify-between w-9/12">
        @foreach (var item in Model.livro)
        {
            <div class="text-center flex flex-col items-center cursor pointer">
                @if (item.Pic != null)
                {
                    var base64 = Convert.ToBase64String(item.Pic);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                    <img src="@imgSrc" width="180" height="220" />
                }
                <p class="text-xl font-bold mt-4">@item.Titulo</p>
            </div>
        }
        </div>

        <h2>Últimas adições</h2>
        <div class="flex justify-between w-9/12 mb-16">
            @foreach (var item in Model.livro)
            {
                <div class="text-center flex flex-col items-center cursor pointer">
                    @if (item.Pic != null)
                    {
                        var base64 = Convert.ToBase64String(item.Pic);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                        <img src="@imgSrc" width="180" height="220" />
                    }
                    <p class="text-xl font-bold mt-4">@item.Titulo</p>
                </div>
            }
        </div>
    </section>
    <section class="bg-color1">
        <h2>Perguntas frequentes</h2>
        <!-- Accordion -->
        <div class="flex justify-center w-8/12">
            <!-- Accordion 1 -->
            <div class="m-2">
                <label for="state">
                    <div class="button flex justify-between items-center font-bold text-xl">
                        Pergunta
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0L5 6L0 0L10 0Z" fill="#401B1B" />
                        </svg>
                    </div>
                </label>
                <input type="checkbox" id="state" hidden>
                <div class="content">
                    <div class="inner font-bold">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus fugit, quaerat consectetur corporis amet cum sed asperiores nisi dolorum voluptates voluptatibus neque obcaecati esse est! Alias minima corrupti accusantium magni!
                    </div>
                </div>
                <label for="state2">
                    <div class="button flex justify-between items-center font-bold text-xl mt-8">
                        Pergunta
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0L5 6L0 0L10 0Z" fill="#401B1B" />
                        </svg>
                    </div>
                </label>
                <input type="checkbox" id="state2" hidden>
                <div class="content2">
                    <div class="inner font-bold">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus fugit, quaerat consectetur corporis amet cum sed asperiores nisi dolorum voluptates voluptatibus neque obcaecati esse est! Alias minima corrupti accusantium magni!
                    </div>
                </div>
                <label for="state3">
                    <div class="button flex justify-between items-center font-bold text-xl mt-8">
                        Pergunta
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0L5 6L0 0L10 0Z" fill="#401B1B" />
                        </svg>
                    </div>
                </label>
                <input type="checkbox" id="state3" hidden>
                <div class="content3">
                    <div class="inner font-bold">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus fugit, quaerat consectetur corporis amet cum sed asperiores nisi dolorum voluptates voluptatibus neque obcaecati esse est! Alias minima corrupti accusantium magni!
                    </div>
                </div>
                <label for="state4">
                    <div class="button flex justify-between items-center font-bold text-xl mt-8">
                        Pergunta
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0L5 6L0 0L10 0Z" fill="#401B1B" />
                        </svg>
                    </div>
                </label>
                <input type="checkbox" id="state4" hidden>
                <div class="content4">
                    <div class="inner font-bold">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus fugit, quaerat consectetur corporis amet cum sed asperiores nisi dolorum voluptates voluptatibus neque obcaecati esse est! Alias minima corrupti accusantium magni!
                    </div>
                </div>
            </div>
            <!-- Accordion 2 -->
            <div class="m-2">
                <label for="state5">
                    <div class="button flex justify-between items-center font-bold text-xl">
                        Pergunta
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0L5 6L0 0L10 0Z" fill="#401B1B" />
                        </svg>
                    </div>
                </label>
                <input type="checkbox" id="state5" hidden>
                <div class="content5">
                    <div class="inner font-bold">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus fugit, quaerat consectetur corporis amet cum sed asperiores nisi dolorum voluptates voluptatibus neque obcaecati esse est! Alias minima corrupti accusantium magni!
                    </div>
                </div>
                <label for="state6">
                    <div class="button flex justify-between items-center font-bold text-xl mt-8">
                        Pergunta
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0L5 6L0 0L10 0Z" fill="#401B1B" />
                        </svg>
                    </div>
                </label>
                <input type="checkbox" id="state6" hidden>
                <div class="content6">
                    <div class="inner font-bold">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus fugit, quaerat consectetur corporis amet cum sed asperiores nisi dolorum voluptates voluptatibus neque obcaecati esse est! Alias minima corrupti accusantium magni!
                    </div>
                </div>
                <label for="state7">
                    <div class="button flex justify-between items-center font-bold text-xl mt-8">
                        Pergunta
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0L5 6L0 0L10 0Z" fill="#401B1B" />
                        </svg>
                    </div>
                </label>
                <input type="checkbox" id="state7" hidden>
                <div class="content7">
                    <div class="inner font-bold">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus fugit, quaerat consectetur corporis amet cum sed asperiores nisi dolorum voluptates voluptatibus neque obcaecati esse est! Alias minima corrupti accusantium magni!
                    </div>
                </div>
                <label for="state8">
                    <div class="button flex justify-between items-center font-bold text-xl mt-8">
                        Pergunta
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0L5 6L0 0L10 0Z" fill="#401B1B" />
                        </svg>
                    </div>
                </label>
                <input type="checkbox" id="state8" hidden>
                <div class="content8">
                    <div class="inner font-bold">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus fugit, quaerat consectetur corporis amet cum sed asperiores nisi dolorum voluptates voluptatibus neque obcaecati esse est! Alias minima corrupti accusantium magni!
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        @if (!string.IsNullOrEmpty(msg))
        {
            <div class="email enviado">
                <p>@msg</p>
            </div>
        }
        <h2>Envie sua mensagem</h2>
        @using (Html.BeginForm("Index", "Leitor", FormMethod.Post, new { @class = "flex text-center items-center", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @placeholder = "Insira o seu nome...", @type = "text" } })
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @placeholder = "Insira o seu email...", @type = "text" } })
            @Html.DropDownListFor(model => model.Tipo, new SelectList(Enum.GetValues(typeof(WebAppPratelivros.Models.Denuncia))), "Tipo da mensagem", new { @class = "p-2 m-2" })
            @Html.TextAreaFor(model => model.Mensagem, new { @placeholder = "Insira a sua mensagem...", @class = "p-2 m-2" })
            <input class="hover:cursor-pointer" type="submit" value="Enviar" />
        }
    </section>
</main>