@model WebAppPratelivros.Models.Leitor

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var msg = TempData["Mensagem"] as string;
}

<main>
    <section class="banner">
        <h2>A melhor plataforma para troca de livros!</h2>
        <p class="font-bold">
            O pratelivros™ te oferece tudo que precisa para encontrar ótimas opções de livros e economizar mais.
        </p>
    </section>
    <section class="bg-none">
        <h2>Recomendações</h2>
        <div class="flex justify-between w-9/12">
            <div class="text-center flex flex-col items-center cursor-pointer">
                <img src="~/Content/imagens/capas/a-moreninha.png" width="180" />
                <p class="text-xl font-bold mt-4">A moreninha</p>
            </div>
            <div class="text-center flex flex-col items-center cursor-pointer">
                <img src="~/Content/imagens/capas/admiravel-mundo-novo.png" width="180" />
                <p class="text-xl font-bold mt-4">Admirável mundo novo</p>
            </div>
            <div class="text-center flex flex-col items-center cursor-pointer">
                <img src="~/Content/imagens/capas/it-a-coisa.png" width="180" />
                <p class="text-xl font-bold mt-4">It: A coisa</p>
            </div>
            <div class="text-center flex flex-col items-center cursor-pointer">
                <img src="~/Content/imagens/capas/manuel-do-homem-infiel.png" width="180" />
                <p class="text-xl font-bold mt-4">Manual do homem infiel</p>
            </div>
            <div class="text-center flex flex-col items-center cursor-pointer">
                <img src="~/Content/imagens/capas/o-chamado-de-cthulhu.png" width="180" />
                <p class="text-xl font-bold mt-4">O chamado de cthulhu</p>
            </div>
        </div>
        <h2>Últimas adições</h2>
        <div class="flex justify-between w-9/12 mb-16">
            <div class="text-center flex flex-col items-center cursor-pointer">
                <img src="~/Content/imagens/capas/o-iluminado.png" width="180" />
                <p class="text-xl font-bold mt-4">O iluminado</p>
            </div>
            <div class="text-center flex flex-col items-center cursor-pointer">
                <img src="~/Content/imagens/capas/o-livro-dos-ressignificados.png" width="180" />
                <p class="text-xl font-bold mt-4">O livro dos ressignificados</p>
            </div>
            <div class="text-center flex flex-col items-center cursor-pointer">
                <img src="~/Content/imagens/capas/o-pequeno-principe.png" width="180" />
                <p class="text-xl font-bold mt-4">O pequeno príncipe</p>
            </div>
            <div class="text-center flex flex-col items-center cursor-pointer">
                <img src="~/Content/imagens/capas/pedrafilosofal.png" width="180" />
                <p class="text-xl font-bold mt-4">Harry Potter e a Pedra filosofal</p>
            </div>
            <div class="text-center flex flex-col items-center cursor-pointer">
                <img src="~/Content/imagens/capas/o-chamado-de-cthulhu.png" width="180" />
                <p class="text-xl font-bold mt-4">O chamado de cthulhu</p>
            </div>
        </div>
    </section>
    <section class="bg-color1">
        <h2>Perguntas frequentes</h2>
        <!-- Accordion -->
        <div class="flex">
            <!-- ACCORDION 1 -->
            <div>
                <!-- Tab 1 -->
                <div class="relative overflow-hidden ml-4 mt-2 w-96">
                    <!-- TÍTULO -->
                    <div class="inline-block bg-white px-6 py-3 rounded-lg flex justify-between items-center ">
                        <p class="text-2xl font-bold">Pergunta</p>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                        </svg>
                    </div>
                    <input type="checkbox" class=" absolute inline-flex top-0 ml-80 -inset-0 h-8 peer z-10 cursor-pointer opacity-0 " />
                    <!-- CONTEÚDO -->
                    <div class="overflow-hidden max-h-0 peer-checked:max-h-full peer-checked:-mt-2 w-full bg-white rounded-b-lg font-bold">
                        <div class="p-6 border-t-2 border-black">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Tab 2 -->
                <div class="relative overflow-hidden ml-4 mt-2 w-96">
                    <!-- TÍTULO -->
                    <div class="inline-block bg-white px-6 py-3 rounded-lg flex justify-between items-center ">
                        <p class="text-2xl font-bold">Pergunta</p>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                        </svg>
                    </div>
                    <input type="checkbox" class=" absolute inline-flex top-0 ml-80 -inset-0 h-8 peer z-10 cursor-pointer opacity-0 " />
                    <!-- CONTEÚDO -->
                    <div class="overflow-hidden max-h-0 peer-checked:max-h-full peer-checked:-mt-2 w-full bg-white rounded-b-lg font-bold">
                        <div class="p-6 border-t-2 border-black">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ACCORDION 2 -->
            <div>
                <!-- Tab 1 -->
                <div class="relative overflow-hidden ml-4 mt-2 w-96">
                    <!-- TÍTULO -->
                    <div class="inline-block bg-white px-6 py-3 rounded-lg flex justify-between items-center ">
                        <p class="text-2xl font-bold">Pergunta</p>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                        </svg>
                    </div>
                    <input type="checkbox" class=" absolute inline-flex top-0 ml-80 -inset-0 h-8 peer z-10 cursor-pointer opacity-0 " />
                    <!-- CONTEÚDO -->
                    <div class="overflow-hidden max-h-0 peer-checked:max-h-full peer-checked:-mt-2 w-full bg-white rounded-b-lg font-bold">
                        <div class="p-6 border-t-2 border-black">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Tab 2 -->
                <div class="relative overflow-hidden ml-4 mt-2 w-96">
                    <!-- TÍTULO -->
                    <div class="inline-block bg-white px-6 py-3 rounded-lg flex justify-between items-center ">
                        <p class="text-2xl font-bold">Pergunta</p>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                        </svg>
                    </div>
                    <input type="checkbox" class=" absolute inline-flex top-0 ml-80 -inset-0 h-8 peer z-10 cursor-pointer opacity-0 " />
                    <!-- CONTEÚDO -->
                    <div class="overflow-hidden max-h-0 peer-checked:max-h-full peer-checked:-mt-2 w-full bg-white rounded-b-lg font-bold">
                        <div class="p-6 border-t-2 border-black">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        @if (!string.IsNullOrEmpty(msg))
        {
            <div class="email enviado">
                <p>@msg</p>
            </div>
        }
        <h2>Envie sua mensagem</h2>
        @using (Html.BeginForm("Index", "Leitor", FormMethod.Post, new { @class = "flex text-center items-center", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @placeholder = "Nome", @type = "text" } })
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @placeholder = "Email", @type = "text" } })
            @Html.DropDownListFor(model => model.Tipo, new SelectList(Enum.GetValues(typeof(WebAppPratelivros.Models.Denuncia))), "Tipo da mensagem", new { @class = "p-2 m-2" })
            @Html.TextAreaFor(model => model.Mensagem, new { @placeholder = "Mensagem", @class = "p-2 m-2" })
            <input class="hover:cursor-pointer" type="submit" value="Enviar" />
        }
    </section>
</main>