@model WebAppPratelivros.Models.Home

@{
    ViewBag.Title = "HOME";
    var msg = TempData["Mensagem"] as string;
}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>pratelivros</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="@Url.Content("~/Content/principal.css")" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,900&display=swap">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <header>
        <div>
            <h1>
                <a href="@Url.Action("Index", "Home")"><img src="~/Content/imagens/logo.png" width="150" /></a>
            </h1>
            <form>
                <input type="text" placeholder="Pesquise um livro..." id="pesquisa">
            </form>
        </div>
        <div>
            <button onclick="location.href='@Url.Action("Login", "Leitor")'" class="bg-color2 mr-6 text-white rounded-lg py-1 px-6 text-xl">
                Login
            </button>
            <button onclick="location.href='@Url.Action("Cadastro", "Leitor")'" class="border-color2 rounded-lg py-1 px-6 text-xl">
                Cadastrar-se
            </button>
        </div>
    </header>
    <main>
        <section class="banner">
            <h2>A melhor plataforma para troca de livros!</h2>
            <p class="font-bold">
                O pratelivros™ te oferece tudo que precisa para encontrar ótimas opções de livros e economizar mais.
            </p>
        </section>
        <section class="tutorial bg-none">
            <h2>Como funciona?</h2>
            <div class="flex-row">
                <div>
                    <div>
                        <h3 class="text-right">Organize suas prateleiras</h3>
                        <p class="text-right">
                            Organize seus livros nas prateleiras, e cadastre-os caso eles não estejam disponíveis na plataforma.
                        </p>
                    </div>
                    <figure>
                        <img class="block ml-auto" src="~/Content/imagens/setaesq.png" />
                    </figure>
                    <div>
                        <h3 class="text-right">Bora trocar?</h3>
                        <p class="text-right">
                            Através do chat, você pode negociar mudanças na proposta, além de decidir um local de encontro para a troca dos livros
                        </p>
                    </div>
                    <figure>
                        <img class="block ml-auto" src="~/Content/imagens/thumbs_up.png" />
                    </figure>
                </div>
                <div>
                    <figure>
                        <img src="~/Content/imagens/setadir.png" />
                    </figure>
                    <div>
                        <h3 class="text-left">Faça uma proposta</h3>
                        <p class="text-left">
                            Proponha uma troca por um livro interessante que encontrar, ou então, aceite uma proposta enviada a você.
                        </p>
                    </div>
                    <figure>
                        <img src="~/Content/imagens/setadir_2.png" />
                    </figure>
                    <div>
                        <h3 class="text-left">Boa leitura!</h3>
                        <p class="text-left">
                            Ao final da troca, você pode avaliar o outro leitor considerando a qualidade do livro, negociação, etc. Tenha uma boa leitura!
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-color1">
            <h2>Perguntas frequentes</h2>
            <!-- Accordion -->
            <div class="flex">
                <!-- ACCORDION 1 -->
                <div>
                    <!-- Tab 1 -->
                    <div class="relative overflow-hidden ml-4 mt-2 w-96">
                        <!-- TÍTULO -->
                        <div class="inline-block bg-white px-6 py-3 rounded-lg flex justify-between items-center ">
                            <p class="text-2xl font-bold">Pergunta</p>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                            </svg>
                        </div>
                        <input type="checkbox" class=" absolute inline-flex top-0 ml-80 -inset-0 h-8 peer z-10 cursor-pointer opacity-0 " />
                        <!-- CONTEÚDO -->
                        <div class="overflow-hidden max-h-0 peer-checked:max-h-full peer-checked:-mt-2 w-full bg-white rounded-b-lg font-bold">
                            <div class="p-6 border-t-2 border-black">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Tab 2 -->
                    <div class="relative overflow-hidden ml-4 mt-2 w-96">
                        <!-- TÍTULO -->
                        <div class="inline-block bg-white px-6 py-3 rounded-lg flex justify-between items-center ">
                            <p class="text-2xl font-bold">Pergunta</p>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                            </svg>
                        </div>
                        <input type="checkbox" class=" absolute inline-flex top-0 ml-80 -inset-0 h-8 peer z-10 cursor-pointer opacity-0 " />
                        <!-- CONTEÚDO -->
                        <div class="overflow-hidden max-h-0 peer-checked:max-h-full peer-checked:-mt-2 w-full bg-white rounded-b-lg font-bold">
                            <div class="p-6 border-t-2 border-black">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ACCORDION 2 -->
                <div>
                    <!-- Tab 1 -->
                    <div class="relative overflow-hidden ml-4 mt-2 w-96">
                        <!-- TÍTULO -->
                        <div class="inline-block bg-white px-6 py-3 rounded-lg flex justify-between items-center ">
                            <p class="text-2xl font-bold">Pergunta</p>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                            </svg>
                        </div>
                        <input type="checkbox" class=" absolute inline-flex top-0 ml-80 -inset-0 h-8 peer z-10 cursor-pointer opacity-0 " />
                        <!-- CONTEÚDO -->
                        <div class="overflow-hidden max-h-0 peer-checked:max-h-full peer-checked:-mt-2 w-full bg-white rounded-b-lg font-bold">
                            <div class="p-6 border-t-2 border-black">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Tab 2 -->
                    <div class="relative overflow-hidden ml-4 mt-2 w-96">
                        <!-- TÍTULO -->
                        <div class="inline-block bg-white px-6 py-3 rounded-lg flex justify-between items-center ">
                            <p class="text-2xl font-bold">Pergunta</p>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                            </svg>
                        </div>
                        <input type="checkbox" class=" absolute inline-flex top-0 ml-80 -inset-0 h-8 peer z-10 cursor-pointer opacity-0 " />
                        <!-- CONTEÚDO -->
                        <div class="overflow-hidden max-h-0 peer-checked:max-h-full peer-checked:-mt-2 w-full bg-white rounded-b-lg font-bold">
                            <div class="p-6 border-t-2 border-black">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            @if (!string.IsNullOrEmpty(msg))
            {
                <div class="alert alert-sucess">
                    <p>@msg</p>
                </div>
            }
            <h2>Envie sua mensagem</h2>
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "flex text-center items-center", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @placeholder = "Nome", @type = "text" } })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @placeholder = "Email", @type = "text" } })
                @Html.DropDownListFor(model => model.Tipo, new SelectList(Enum.GetValues(typeof(WebAppPratelivros.Models.Denuncia))), "Tipo da mensagem")
                @Html.TextAreaFor(model => model.Mensagem, new { htmlAttributes = new { @placeholder = "Mensagem" } })
                <input class="hover:cursor-pointer" type="submit" value="Enviar" />
            }
        </section>
    </main>
    <footer>
        <small class="font-bold">© pratelivros</small>
        <ul>
            <li>
                <a href=""><img src="~/Content/imagens/icons/instagram.png" /></a>
            </li>
            <li>
                <a href=""><img src="~/Content/imagens/icons/twitter.png" /></a>
            </li>
            <li>
                <a href=""><img src="~/Content/imagens/icons/whatsapp.png" /></a>
            </li>
        </ul>
    </footer>
</body>
</html>