@model WebAppPratelivros.Models.Home

@{
    ViewBag.Title = "HOME";
    var msg = TempData["Mensagem"] as string;
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>pratelivros</title>
    <link rel="stylesheet" href="@Url.Content("/Content/principal.css")" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,900&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="main.js"></script>
</head>

<body>
    <header>
        <div>
            <h1>
                <a href="@Url.Action("Index", "Home")"><img src="~/Content/imagens/logo.png" width="150" /></a>
            </h1>
            @using (Html.BeginForm("pesquisarLivro", "Livro", FormMethod.Get))
            {
                <div class="flex items-center">
                    @Html.TextBox("SearchString")
                    <input type="submit" name="pesquisa" id="pesquisa" value="pesquisar" class="hidden" />
                    <label for="pesquisa">
                        <img src="~/Content/imagens/icons/pesquisa-icon.svg" width="20" class="absolute left-[41rem] top-[3.5rem]" />
                    </label>
                </div>
            }
        </div>
        <div>
            <button onclick="location.href='@Url.Action("Login", "Leitor")'" class="bg-color2 mr-6 text-white rounded-lg py-1 px-6 text-xl">
                Login
            </button>
            <button onclick="location.href='@Url.Action("Cadastro", "Leitor")'" class="border-color2 rounded-lg py-1 px-6 text-xl">
                Cadastrar-se
            </button>
        </div>
    </header>
    <main>
        <section class="banner bg-no-repeat bg-cover text-white h-[85vh]">
            <h2>A melhor plataforma para troca de livros!</h2>
            <p class="font-bold">
                O pratelivros™ te oferece tudo que precisa para encontrar ótimas opções de livros e
                economizar mais.
            </p>
        </section>
        <section class="tutorial bg-none">
            <h2>Como funciona?</h2>
            <div class="flex-row flex p-4">
                <div class="flex-col p-4">
                    <div class="p-4">
                        <h3 class="text-right text-[#F2AF5C]">Organize suas prateleiras</h3>
                        <p class="text-right w-[30rem]">
                            Organize seus livros nas prateleiras, e cadastre-os caso eles não estejam disponíveis na
                            plataforma.
                        </p>
                    </div>
                    <figure>
                        <img class="block ml-auto" src="/Content/imagens/setaesq.png" />
                    </figure>
                    <div class="p-4">
                        <h3 class="text-right text-[#F2AF5C]">Bora trocar?</h3>
                        <p class="text-right w-[30rem]">
                            Através do chat, você pode negociar mudanças na proposta, além de decidir um local de
                            encontro para a troca dos livros
                        </p>
                    </div>
                    <figure>
                        <img class="block ml-auto" src="/Content/imagens/thumbs_up.png" />
                    </figure>
                </div>
                <div class="p-4">
                    <figure>
                        <img src="/Content/imagens/setadir.png" />
                    </figure>
                    <div class="p-4">
                        <h3 class="text-left text-[#F2AF5C]">Faça uma proposta</h3>
                        <p class="text-left w-[30rem]">
                            Proponha uma troca por um livro interessante que encontrar, ou então, aceite uma proposta
                            enviada a você.
                        </p>
                    </div>
                    <figure>
                        <img src="/Content/imagens/setadir_2.png" />
                    </figure>
                    <div class="p-4">
                        <h3 class="text-left text-[#F2AF5C]">Boa leitura!</h3>
                        <p class="text-left w-[30rem]">
                            Ao final da troca, você pode avaliar o outro leitor considerando a qualidade do livro,
                            negociação, etc. Tenha uma boa leitura!
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-color1">
            <h2>Perguntas frequentes</h2>
            <!-- Accordion -->
            <div class="flex justify-center w-8/12">
                <!-- Accordion 1 -->
                <div class="m-2">
                    <label for="state">
                        <div class="button flex justify-between items-center font-bold text-xl">
                            O que é o pratelivros?
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0L5 6L0 0L10 0Z" fill="#401B1B" />
                            </svg>
                        </div>
                    </label>
                    <input type="checkbox" id="state" hidden>
                    <div class="content">
                        <div class="inner font-bold">
                            O pratelivros é uma plataforma de troca de livros fundada em 2023, perfeita para quem tem livros velhos que quer trocar por novas experiências literárias!
                        </div>
                    </div>
                    <label for="state2">
                        <div class="button flex justify-between items-center font-bold text-xl mt-8">
                            Como posso cadastrar meu exemplar?
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0L5 6L0 0L10 0Z" fill="#401B1B" />
                            </svg>
                        </div>
                    </label>
                    <input type="checkbox" id="state2" hidden>
                    <div class="content2">
                        <div class="inner font-bold">
                            A nossa plataforma usa como base o banco de dados da Amazon que possui mais de 50 milhões de títulos. Para cadastrar seu exemplar é preciso que você selecione o livro e informe o estado de integridade com três fotos.
                        </div>
                    </div>
                    <label for="state3">
                        <div class="button flex justify-between items-center font-bold text-xl mt-8">
                            Como funcionam as prateleiras?
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0L5 6L0 0L10 0Z" fill="#401B1B" />
                            </svg>
                        </div>
                    </label>
                    <input type="checkbox" id="state3" hidden>
                    <div class="content3">
                        <div class="inner font-bold">
                            Seu perfil já vêm com duas prateleiras: Uma para listar seus livros e outra para os que você quer obter. Para criar uma nova basta acessar o menu "mais" no cabeçalho do site.
                        </div>
                    </div>
                    <label for="state4">
                        <div class="button flex justify-between items-center font-bold text-xl mt-8">
                            E se o meu livro não estiver cadastrado?
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0L5 6L0 0L10 0Z" fill="#401B1B" />
                            </svg>
                        </div>
                    </label>
                    <input type="checkbox" id="state4" hidden>
                    <div class="content4">
                        <div class="inner font-bold">
                            Caso você não encontre seu livro na pesquisa, haverá um formulário que você pode cadastrar, contendo as informações: capa, título, autor, descrição, idioma, data de publicação, ISBN, editora, edição, n° de páginas e gênero.
                        </div>
                    </div>
                </div>
                <!-- Accordion 2 -->
                <div class="m-2">
                    <label for="state5">
                        <div class="button flex justify-between items-center font-bold text-xl">
                            Como solicito uma troca?
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0L5 6L0 0L10 0Z" fill="#401B1B" />
                            </svg>
                        </div>
                    </label>
                    <input type="checkbox" id="state5" hidden>
                    <div class="content5">
                        <div class="inner font-bold">
                            Ao ver o exemplar de outro usuário, haverá um botão com ícone de troca que você pode apertar para criar sua solicitação de troca. Na página seguinte, você poderá selecionar outros livros que você quer do outro usuário e também os seus livros que você deseja se desfazer.
                        </div>
                    </div>
                    <label for="state6">
                        <div class="button flex justify-between items-center font-bold text-xl mt-8">
                            Como finalizo uma troca?
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0L5 6L0 0L10 0Z" fill="#401B1B" />
                            </svg>
                        </div>
                    </label>
                    <input type="checkbox" id="state6" hidden>
                    <div class="content6">
                        <div class="inner font-bold">
                            Após a confirmação de uma proposta por ambos os usuários, eles podem combinar um ponto de encontro pelo chat para efetivamente trocar os exemplares e depois disso também existe a opção de avaliar a troca.
                        </div>
                    </div>
                    <label for="state7">
                        <div class="button flex justify-between items-center font-bold text-xl mt-8">
                            Exemplares e livros são diferentes?
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0L5 6L0 0L10 0Z" fill="#401B1B" />
                            </svg>
                        </div>
                    </label>
                    <input type="checkbox" id="state7" hidden>
                    <div class="content7">
                        <div class="inner font-bold">
                            No nosso sistema, diferenciamos a entidade livro, que é um título cadastrado no banco de dados e a entidade exemplar, que é referente a versão do livro possuída por tal usuário. São os exemplares que contém as informações sobre a integridade daquela versão, se ela está em bom ou mau estado.
                        </div>
                    </div>
                    <label for="state8">
                        <div class="button flex justify-between items-center font-bold text-xl mt-8">
                            Posso trocar até quantos exemplares?
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0L5 6L0 0L10 0Z" fill="#401B1B" />
                            </svg>
                        </div>
                    </label>
                    <input type="checkbox" id="state8" hidden>
                    <div class="content8">
                        <div class="inner font-bold">
                            O máximo que uma permutação pode atingir é de cinco exemplares por cinco exemplares. Não é necessário que ambos os lados queiram trocar a mesma quantidade, então pode haver uma troca de um exemplar por cinco exemplares, e vice-versa.
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            @if (!string.IsNullOrEmpty(msg))
            {
                <div class="email enviado">
                    <p>@msg</p>
                </div>
            }
            <h2>Envie sua mensagem</h2>
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "flex text-center items-center", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @placeholder = "Insira o seu nome...", @type = "text" } })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @placeholder = "Insira o seu email...", @type = "text" } })
                @Html.DropDownListFor(model => model.Tipo, new SelectList(Enum.GetValues(typeof(WebAppPratelivros.Models.Denuncia))), "Tipo da mensagem", new { @class = "p-2 m-2" })
                @Html.TextAreaFor(model => model.Mensagem, new { @placeholder = "Insira a sua mensagem...", @class = "p-2 m-2" })
                <input class="hover:cursor-pointer" type="submit" value="Enviar" />
            }
        </section>
    </main>
    <footer>
        <small class="font-bold">© pratelivros</small>
        <ul>
            <li>
                <a href=""><img src="/Content/imagens/icons/instagram.png" /></a>
            </li>
            <li>
                <a href=""><img src="/Content/imagens/icons/twitter.png" /></a>
            </li>
            <li>
                <a href=""><img src="/Content/imagens/icons/whatsapp.png" /></a>
            </li>
        </ul>
    </footer>
</body>

</html>