@model WebAppPratelivros.Models.Livro

@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <section class="cad_livro">
        <h2>Cadastre seu livro</h2>
        @using (Html.BeginForm("Cadastro", "Livro", FormMethod.Post, new { @class = "flex text-center items-center", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <label for="capa" class="border-color2 border-4 w-48 h-72 mt-2 mb-12 py-32 font-bold hover:cursor-pointer">
                +
                Adicionar
                capa
            </label>
            <input type="file" id="capa" name="capa" accept="image/png, image/jpeg" class="hidden" onchange="fileCheck(this);" />
            @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @placeholder = "Título", @type = "text" } })
            @Html.EditorFor(model => model.Autor, new { htmlAttributes = new { @placeholder = "Autor", @type = "text" } })
            @Html.TextAreaFor(model => model.Descricao, new { htmlAttributes = new { @placeholder = "Descrição" } })
            @Html.EditorFor(model => model.Genero, new { htmlAttributes = new { @placeholder = "Gênero", @type = "text", @list = "generos" } })
            <datalist id="generos">
                <option>Antologia</option>
                <option>Arte e Fotografia</option>
                <option>Autoajuda</option>
                <option>Ação e aventura</option>
                <option>Biografia</option>
                <option>Ciência e Tecnologia</option>
                <option>Conto</option>
                <option>Crimes Reais</option>
                <option>Fantasia</option>
                <option>Ficção científica</option>
                <option>Ficção histórica</option>
                <option>Ficção Policial</option>
                <option>Gastronomia</option>
                <option>Guias & Como fazer</option>
                <option>História</option>
                <option>Horror</option>
                <option>HQ</option>
                <option>Humanidades e Ciências Sociais</option>
                <option>Humor</option>
                <option>Infantil</option>
                <option>LGBTQ+</option>
                <option>Mangá</option>
                <option>Novela</option>
                <option>Paternidade e família</option>
                <option>Religião e Espiritualidade</option>
                <option>Romance</option>
                <option>Thriller e Suspense</option>
                <option>Viagem</option>
            </datalist>
            @Html.EditorFor(model => model.DataPub, new { htmlAttributes = new { @placeholder = "Data de publicação", @type = "text", @onfocus = "this.type='date'", @onblur = "this.type='text'" } })
            @Html.EditorFor(model => model.ISBN, new { htmlAttributes = new { @placeholder = "ISBN", @type = "text" } })
            @Html.EditorFor(model => model.Editora, new { htmlAttributes = new { @placeholder = "Editora", @type = "text" } })
            <div class="flex">
                @Html.EditorFor(model => model.Edicao, new { htmlAttributes = new { @class = "trezerem", @placeholder = "Edição", @type = "number" } })
                @Html.EditorFor(model => model.NPaginas, new { htmlAttributes = new { @class = "trezerem", @placeholder = "N° de páginas", @type = "number" } })
            </div>
            @Html.EditorFor(model => model.Idioma, new { htmlAttributes = new { @placeholder = "Idioma", @type = "text", @list = "idiomas" } })
            <datalist id="idiomas">
                <option>Alemão</option>
                <option>Chinês</option>
                <option>Coreano</option>
                <option>Espanhol</option>
                <option>Francês</option>
                <option>Grego</option>
                <option>Holandês</option>
                <option>Inglês</option>
                <option>Italiano</option>
                <option>Japonês</option>
                <option>Latim</option>
                <option>Português</option>
                <option>Romeno</option>
                <option>Russo</option>
            </datalist>

            <input class="hover:cursor-pointer" type="submit" value="Cadastrar livro" />
        }
    </section>
</main>



